<div class="content">
  <h1>Manage users</h1>
  <app-add-btn
    color="green"

  text="add a user"
  ></app-add-btn>


  <table>
    <th>ID</th>
    <th>Avatar</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>-</th>

   <!-- <tr *ngFor="let user of result">
      <td>{{user.id}}</td>
     &lt;!&ndash; <td>{{user.last_name}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>&ndash;&gt;
    </tr>-->

  </table>


</div>

